<!doctype html>
<html lang="en" ng-app="SkillsUpTests">
  <head>
    <meta charset="utf-8">
    <title>SkillsUp Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="TestListController">

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#/main">Tests</a></li>
          <li><a ng-href="#/creator">Creator</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">SkillsUpTests</h3>
      </div>

        <button ng-click="getAllTests()" type="button" class="btn btn-info btn-sm" id="getAllTestsButton">Get all tests</button>
        <p>All tests:</p>
        <ul>
            <li ng-repeat="test in tests">
                <p>{{test.testName}}</p>
                <p><!--{{showDate(test.dateOfCreation)}}-->{{test.dateOfCreation | date:'yyyy-MM-dd'}}</p>
                <p>{{test.maxTimeToPassInMinutes}}</p>
            </li>
        </ul>

        <h3>Please, add new test</h3>
        <p> </p>
        <label>Enter test's name:</label>
        <input type="text" placeholder="test's name" id="testNameInput">
        <p> </p>
        <label for="testCreationDatePickerDiv">Enter test's date of creation:</label>
        <div id="testCreationDatePickerDiv" class="input-append date">
            <input id="testCreationDatePicker" type="date">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <p> </p>
        <label>Enter tests's maximum time to pass:</label>
        <input type="text" placeholder="time in minutes" id="testTimeToPassInput">
        <p> </p>
        <button ng-click="addNewTest()" type="button" class="btn btn-info btn-sm" id="addNewTestButton">Add new test</button>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the SkillsUP team</p>
      </div>
    </div>


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>

</body>
</html>
